<app-signup></app-signup>

<div class="row">
  <div class="col-sm-6 text-right pt-5">
    <img class="align-middle m-5" height="400px" src="/assets/What-Is-Scribe-Image.png">
</div>
<div class="col-sm-4">
  <h2 class="mx-5 my-5">What is Scribe?</h2>
  <h6 class="mx-5 my-1">
      Scribe is a thought sharing platform where you can share your
      thoughts and craziest ideas with the world. You can also
      interact with other users by commenting on their posts.
      <br/><br/>
      A scribe is a person who serves as a professional copyist, 
      especially one who made copies of manuscripts before the invention of automatic printing
        <br/><br/>
        Thought (or thinking) encompasses a flow of ideas and associations that can lead to logical conclusions. Although thinking is an activity of an existential value for humans, there is still no consensus as to how it is adequately defined or understood.

        Because thought underlies many human actions and interactions, 
        understanding its physical and metaphysical origins and its effects has been a longstanding goal of many academic disciplines including philosophy, 
        linguistics, psychology, neuroscience, artificial intelligence, biology, sociology and cognitive science.
         <br/><br/>
         Thinking allows humans to make sense of, interpret, represent or model the world they experience, and to make predictions about that world. 
         It is therefore helpful to an organism with needs, objectives, 
         and desires as it makes plans or otherwise attempts to accomplish those goals.

      <br/><br/>
      Create a free account and get started.
      <br/><br/>
      Let's get started!
  </h6>
</div>
</div>

<hr/>
<!-- <div>we need to install font awesome</div> -->
<div class="row">
  <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-2">
      <h5>Contact Us</h5>
      <div class="row">
          <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-2">
              <i class="fa fa-phone mt-3"></i>
              6379117994
              <br/>
              <i class="fa fa-envelope mt-3"></i>
              <!-- <span class="glyphicon glyphicon-envelope mt-3"></span> -->
              nageschd@gmail.com
              <br/>
              <i class="fa fa-facebook mt-3"></i>
              Nageswarachandru
              <br/>
              <i class="fa fa-instagram mt-3"></i>
              ._nages._chand
              <br/>
          </div>
          <div class="col-sm-4 text-left py-5 my-5 px-5">
              <i class="fa fa-map-marker mt-3"></i>
              Arts & Fun Pvt. Ltd.
              <br/>
              <i class="fa fa-map-marker mt-1 invisible"></i>
              22, gandhi nager
              <br/>
              <i class="fa fa-map-marker mt-1 invisible"></i>
              manianoor, salem 
              <br/>
              <i class="fa fa-map-marker mt-1 invisible"></i>
              TamilNadu-636010
              <br/>
          </div>
      </div>
  </div>
</div>